<div ng-controller="LoginController">

    <button ng-click="createAccount()" class="col-xs-6 button-Dark small-pad">Create New Account</button>

    <div class="form-group" id="loginUser">
        <label for="userName" class="sr-only">User Name</label>
        <input type="text" class="form-control" id="userName" placeholder="User Name" ng-model="currentUser.userName" maxlength="22" />
        <label for="password" class="sr-only">Password</label>
        <input type="text" class="form-control" id="password" placeholder="Password" ng-model="currentUser.password" />
        <!--<label for="passwordConfirm" class="sr-only">Confirm Password</label>
        <input type="text" class="form-control" id="passwordConfirm" placeholder="Please confirm password" ng-model="passwordConfirm" />-->
    </div>

    <button ng-click="checkCredentials(currentUser.userName, currentUser.password)" class="col-xs-6 button-Dark small-pad">Log In</button>

    <button ng-click="resetPassword()" class="col-xs-6 button-Dark small-pad">Reset Password</button>


</div>
