<div ng-controller="LoginController">

    <div class="form-group" id="loginUser">
        <label for="userName" class="sr-only">User Name</label>
        <input type="text" class="form-control" id="userName" placeholder="User Name" ng-model="userName" maxlength="22" />
        <label for="password" class="sr-only">Password</label>
        <input type="text" class="form-control" id="password" placeholder="Password" ng-model="Password" />
        <label for="passwordConfirm" class="sr-only">Confirm Password</label>
        <input type="text" class="form-control" id="passwordConfirm" placeholder="Please confirm password" ng-model="PasswordConfirm" />
    </div>




</div>
